section.settings
    .tabs-component.flex
        .tabs-head.flex
            .tabs--tab.tab--saved.flex(data-tab='saved')
                | saved
            .tabs--tab.tab--custom.flex.is-active(data-tab='custom')
                | custom
        .tabs-body.flex
            .tabs-content.content--saved
                .saved-items.grid
                    if user 
                        if user.presets.length > 0
                            each preset in user.presets
                                - const time = Number(preset.totalTime.slice(0, 1))
                                if (time < 1)
                                    a.item.flex(href=`/preset/${preset._id}`) 
                                        p.item--title= preset.title
                                        p.item--time= `${preset.totalTime} secs`
                                else 
                                    a.item.flex(href=`/preset/${preset._id}`) 
                                        p.item--title= preset.title
                                        p.item--time= `${preset.totalTime} mins`
                            a.edit-saved  presets 
                        else 
                            .item.flex
                                p.item--title -- saved presets --
                            a.edit-saved  presets 
                    else 
                        .item.flex
                            p.item--title -- saved presets --
                        a.btn.btn--login(href='/login')
                            | LOG IN
                            
            .tabs-content.content--custom.is-active
                form.input-form.grid
                    label.input--label(for='numExercises') how many exercises
                    input#numExercises.input(type='number' placeholder='1' value='1')
                    label.input--label(for='timeExercise') time per exercise
                    input#timeExercise.input(type='number' placeholder='45s' required='')
                    label.input--label(for='restExercise')
                        | rest between exercise 
                        span (opt.)
                    input#restExercise.input(type='number' placeholder='15s')
                    label.input--label(for='numSets') how many sets
                    input#numSets.input(type='number' placeholder='1' value='1')
                    label.input--label(for='restSet')
                        | rest between sets 
                        span (opt.)
                    input#restSet.input(type='number' placeholder='90s')
                    button.btn.btn--start start
                    .login-box.flex.grid-extend.center
                        if user 
                            a.btn.btn--save
                                | save timer &plus;
                        else 
                            a.btn.btn--login(href='/login')
                                | LOG IN
                            span.btn--login_text - to save timer &plus;
                
                form.save-preset-form.grid.hidden
                    label.input--label(for='title') workout name
                    input#title.input.input__title(type='string' placeholder='custom workout')
                    p.input--label.input--label__text total time: 23 min
                    button.btn.btn--save__submit save
                    a.btn.btn--back back


                